---
import Badge from "../components/Badge.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="MagTheDev - Work">

    <!-- <ProjectCard img_url="/image.webp" name="Rust" url="https://github.com">
        <p>COOL COOL</p>
    </ProjectCard> -->

    <Badge color="green" name="test"></Badge>

</Layout>