---
---

<div class="banner-ascii">
__/\\\\\\\\\\\\_____/\\\\\\\\\\\\\\\__/\\\________/\\\__/\\\\\\\\\\\\\\\__/\\\___________________/\\\\\_______/\\\\\\\\\\\\\____/\\\\\\\\\\\\\\\____/\\\\\\\\\_____        
 _\/\\\////////\\\__\/\\\///////////__\/\\\_______\/\\\_\/\\\///////////__\/\\\_________________/\\\///\\\____\/\\\/////////\\\_\/\\\///////////___/\\\///////\\\___       
  _\/\\\______\//\\\_\/\\\_____________\//\\\______/\\\__\/\\\_____________\/\\\_______________/\\\/__\///\\\__\/\\\_______\/\\\_\/\\\_____________\/\\\_____\/\\\___      
   _\/\\\_______\/\\\_\/\\\\\\\\\\\______\//\\\____/\\\___\/\\\\\\\\\\\_____\/\\\______________/\\\______\//\\\_\/\\\\\\\\\\\\\/__\/\\\\\\\\\\\_____\/\\\\\\\\\\\/____     
    _\/\\\_______\/\\\_\/\\\///////________\//\\\__/\\\____\/\\\///////______\/\\\_____________\/\\\_______\/\\\_\/\\\/////////____\/\\\///////______\/\\\//////\\\____    
     _\/\\\_______\/\\\_\/\\\________________\//\\\/\\\_____\/\\\_____________\/\\\_____________\//\\\______/\\\__\/\\\_____________\/\\\_____________\/\\\____\//\\\___   
      _\/\\\_______/\\\__\/\\\_________________\//\\\\\______\/\\\_____________\/\\\______________\///\\\__/\\\____\/\\\_____________\/\\\_____________\/\\\_____\//\\\__  
       _\/\\\\\\\\\\\\/___\/\\\\\\\\\\\\\\\______\//\\\_______\/\\\\\\\\\\\\\\\_\/\\\\\\\\\\\\\\\____\///\\\\\/_____\/\\\_____________\/\\\\\\\\\\\\\\\_\/\\\______\//\\\_ 
        _\////////////_____\///////////////________\///________\///////////////__\///////////////_______\/////_______\///______________\///////////////__\///________\///__
_____/\\\\\\\\\\\____/\\\________/\\\_____/\\\\\\\\\\\_______/\\\\\\\\\_____/\\\\\\\\\\\\_____/\\\\____________/\\\\__/\\\\\\\\\\\__/\\\\\_____/\\\_                       
 ___/\\\/////////\\\_\///\\\____/\\\/____/\\\/////////\\\___/\\\\\\\\\\\\\__\/\\\////////\\\__\/\\\\\\________/\\\\\\_\/////\\\///__\/\\\\\\___\/\\\_                      
  __\//\\\______\///____\///\\\/\\\/_____\//\\\______\///___/\\\/////////\\\_\/\\\______\//\\\_\/\\\//\\\____/\\\//\\\_____\/\\\_____\/\\\/\\\__\/\\\_                     
   ___\////\\\_____________\///\\\/________\////\\\_________\/\\\_______\/\\\_\/\\\_______\/\\\_\/\\\\///\\\/\\\/_\/\\\_____\/\\\_____\/\\\//\\\_\/\\\_                    
    ______\////\\\____________\/\\\____________\////\\\______\/\\\\\\\\\\\\\\\_\/\\\_______\/\\\_\/\\\__\///\\\/___\/\\\_____\/\\\_____\/\\\\//\\\\/\\\_                   
     _________\////\\\_________\/\\\_______________\////\\\___\/\\\/////////\\\_\/\\\_______\/\\\_\/\\\____\///_____\/\\\_____\/\\\_____\/\\\_\//\\\/\\\_                  
      __/\\\______\//\\\________\/\\\________/\\\______\//\\\__\/\\\_______\/\\\_\/\\\_______/\\\__\/\\\_____________\/\\\_____\/\\\_____\/\\\__\//\\\\\\_                 
       _\///\\\\\\\\\\\/_________\/\\\_______\///\\\\\\\\\\\/___\/\\\_______\/\\\_\/\\\\\\\\\\\\/___\/\\\_____________\/\\\__/\\\\\\\\\\\_\/\\\___\//\\\\\_                
        ___\///////////___________\///__________\///////////_____\///________\///__\////////////_____\///______________\///__\///////////__\///_____\/////__               


</div>

<style>
    .banner-ascii {
        font-family: "Berkeley Mono", "Courier New", monospace;
        font-size: var(--font-size-small);
        color: var(--color-text);
        white-space: pre;
        margin: 0.5rem;
    }

</style>

<script>
    const asciiArt = document.querySelector('.banner-ascii');
    if (asciiArt) {
        // TODO: This is a really crude way to color the ASCII art.
        //       In the future, add groupings to not overwhelm the DOM
        asciiArt.innerHTML = asciiArt.innerHTML.replace(/_/g, '<span style="color: #666666">_</span>');
    }
</script>