---
interface Props {
    name: string;
    command: string;
}
const { name, command } = Astro.props;
---

<section class="terminal-window" aria-labelledby="terminal-title">
    <header class="terminal-header">
        <h2 id="terminal-title" class="terminal-title">{name}</h2>
    </header>
    <div class="terminal-content">
        <div class="prompt-container" aria-hidden="true">
            <span class="prompt">[jake@nixos MagTheDev.github.io]$</span>
            <span class="command">{command}</span>
        </div>

        <div class="content-container" role="region" aria-label={`Content for ${name}`}>
            <slot />
        </div>
    </div>
</section>

<style>
    .terminal-window {
        background: var(--color-card-bg);
        border: 5px double var(--color-primary);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin: 20px auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .terminal-header {
        width: 100%;
        border-bottom: 2px solid var(--color-primary);
        background: var(--color-bg);
    }

    .terminal-title {
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }

    .terminal-content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .prompt {
        font-size: var(--font-size-small);
        color: var(--color-primary);
        font-weight: 600;
    }
    .content-container {
        width: 90%;
        margin-top: 1rem;
    }
    .prompt-container {
        width: 100%;
    }
</style>

<script></script>
