---
export interface Props {
    name: string,
    url: string,
    icon: string
}

const props = Astro.props as Props
import { Icon } from 'astro-icon'

---
<div>
    <a href={props.url}>
        <div class="link-container">
            <div class="icon-container">
                <Icon name={`fa:${props.icon}`}/>
            </div>
            <p class="social-name">{props.name}</p>
        </div>
    </a>
</div>
<style>

    p {
        margin: 0;
        color: var(--color-text);
    }

    a:link {
        text-decoration: none;
    }

    .link-container {

        position: relative;

        aspect-ratio: 2.5 / 1;
        width: 7rem;
        
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px;

        background-color: var(--color-bg);
        

        background-clip: padding-box;
        border: solid 1px var(--color-border);
        border-radius: 0.5rem;
        transition: all 100ms ease-in-out;
    }
    /*This took me SOOOO long to figure out */
    .link-container::after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        z-index: -1;
        background: linear-gradient(-35deg, var(--color-accent-primary), var(--color-accent-secondary), var(--color-accent-terciary));
        border-radius: 0.5rem;
        opacity: 0;
        transition: all 100ms ease-in-out;
    }

    .link-container:hover::after {
        opacity: 1;
    }

    .link-container::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -2;
        background: linear-gradient(-35deg, var(--color-accent-primary), var(--color-accent-secondary), var(--color-accent-terciary));
        filter: blur(10px);
        opacity: 0;
        transition: all 100ms ease-in-out;
    }

    .link-container:hover::before {
        opacity: 1;
    }

    .icon-container {
        width: 2rem;
        height: 2rem;
        padding-right: 20px;

    }

    .social-name {
        font-weight: 700;
    }

    [astro-icon] {
        color: var(--color-border);
    }



</style>

