---
    import "../styles/terminal.css";
---

<>
<div class="terminal-container">
    <div class="terminal">

        <div class="top">
            <div class="buttons">
                <span class="circle green"></span>
                <span class="circle yellow"></span>
                <span class="circle red"></span>
            </div>
            <div class="title">zsh -- cargo run</div>
        </div>

        <div class="body">
            <div> $ cargo run </div>
            <div> <span style="color: var(--accent);">Running</span> aboutme.exe </div> <br>
            <!--  Refactor This -->
            <pre>    I'm 16 year old backend developer from Slovakia. 
    I'm passionate about programming and solving problems. 
    I love <span style="color: #FF7119;">Rust</span> and <span style="color: #41B883;">Vue.js</span>. I'm burning with 
    passionate hatred for <span style="color: #03d3f4;">React.js</span>.

&gt_</pre>
                        
        </div>
                    
    </div>
</div>
</>